{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<style>
header{
  position:fixed !important;
}
.errorbar{
  color: red;
}
</style>
<link href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>


    <section class="ad a1H a1I[180px] a1J[120px]">
      <div class="aa">
        <div class="a8 a1K ab[-16px]">
          <div class="a7 ae">
            <div class="aB[500px] a1L a1k a1Z dark:av a13 a47 sm:a3B[60px]">
              <h3 class="a1g a1A dark:aI a2u sm:a1O a30 a1M">
                Create your account
              </h3>
              <p class="a1R aH a1S a2F a1M">{% include 'includes/alerts.html' %}</p>
              
              <div class="a8 a9 a1x a23">
                <span class="aj sm:ah aB[60px] a7 at[1px] a3f"></span>
                <p class="a7 a37 a1S a1M aH a1R">
                  Register With Us
                </p>
                <span class="aj sm:ah aB[60px] a7 at[1px] a3f"></span>
              </div>
              <form  action="{% url 'authentication:register' %}" method="POST">
                {% csrf_token %}
                <div class="a23">
                  <label for="name" class="ah a1b a1R a1h dark:aI a30">
                    Username
                  </label>
                  {{form.username}}
                <span class="errorbar">{{ form.username.errors }}</span>
                </div>

                <div class="a23">
                  <label for="email" class="ah a1b a1R a1h dark:aI a30">
                    Email
                  </label>
                  {{form.email}}
                  <span class="errorbar">{{ form.email.errors }}</span>
                </div>

                <div class="a23">
                  <label for="email" class="ah a1b a1R a1h dark:aI a30">
                    Phone Number
                  </label>
          
                  <select name="phone_code">
                    {% for code in country_code %}
                      <option value="{{code}}" {% if code == "+234" %}selected{% endif %}>{{code}}</option>
                    {% endfor %}
                  </select>
                  
                  {{form.phone}}
                  <span class="errorbar">{{ form.phone.errors }}</span>
                </div>
          
              
                <div class="a23 py-2" x-data="{ show: true }">
                  <label for="password" class="ah a1b a1R a1h dark:aI a30">
                    Your Password
                  </label>
                  <div class="relative">
                  {{form.password}}
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'hidden': !show, 'block':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 576 512">
                      <path fill="currentColor"
                        d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                      </path>
                    </svg>

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'block': !show, 'hidden':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 640 512">
                      <path fill="currentColor"
                        d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
                      </path>
                    </svg>
                  </div>
                  </div>
                </div>
                <div class="a23" x-data="{ show: true }">
                  <label for="password" class="ah a1b a1R a1h dark:aI a30">
                    Confirm Password
                  </label>
                  <div class="relative">

                  {{form.password_2}}
                  <span class="errorbar">{{ form.password_2.errors }}</span>
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'hidden': !show, 'block':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 576 512">
                      <path fill="currentColor"
                        d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                      </path>
                    </svg>

                    <svg class="h-6 text-gray-700" fill="none" @click="show = !show"
                      :class="{'block': !show, 'hidden':show }" xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 640 512">
                      <path fill="currentColor"
                        d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
                      </path>
                    </svg>
                  </div>
                  </div>
                </div>

                <div class="a8 a23">
                  <label for="checkboxLabel" class="a8 a1r a1S a1b a1R a48">
                    <div class="ad">
                      <input type="checkbox" name="checkPolicy" id="checkboxLabel" class="a1B"/>
                      <div
                        class="box a8 a9 a1x a1D a1E a1c a3l a2z a49 dark:a2o dark:a2M a2G a4a"
                      >
                        <span class="a15">
                          <svg
                            width="11"
                            height="8"
                            viewBox="0 0 11 8"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                              fill="#3056D3"
                              stroke="#3056D3"
                              stroke-width="0.4"
                            />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <span>
                      By creating account means you agree to the
                      <a href="javascript:void(0)" class="a1W hover:a2T">
                        Privacy Policy
                      </a>
                    </span>
                  </label>
                </div>
                <div class="a2E">
                  <button
                    type="submit"
                    class="a7 a8 a9 a1x aH a1R aI a1k a3q a1m hover:a1n hover:a2i a1p a1a a2j a13"
                  >
                    Sign up
                  </button>
                </div>
              </form>
              <p class="a1R aH a1S a1M">
                Are You Using REETRA?
                <a href="{% url 'authentication:login' %}" class="a1W hover:a2T"> Sign in </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <script>
      setTimeout(function(){
          $('.errorbar').fadeOut('slow')
      }, 2000)
  </script>
{% endblock %}