{% extends 'home/base.html' %}
{% load static %}
{% include 'home/header.html' %}

{% block content %}
<section class="ad a1H a1I[120px] a1J[110px] md:a1I[150px] md:a1J[120px] xl:a1I[180px] xl:a1J[160px] 2xl:a1I[210px] 2xl:a1J[200px]">
<div class="ad a1H a1k a1Z a1I[100px] wow fadeInUp" data-wow-delay=".1s" style="display:flex; width:90%; place-content:center;margin:0px auto;padding:10px; border-radius:25px; color:white">
    
    <p style="opacity:1;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reetra  Inc. (together with our affiliates and subsidiaries, including Reetra  Nigeria Ltd, and any future affiliates or subsidiaries, “Reetra ”, “us”, “we”, “our” and terms of similar meaning) operate the www.Reetra .com website and Reetra ’s web-based and mobile application (the “Service”). 
    This Privacy Policy describes Reetra ’s policies regarding the collection, use, and disclosure of the information we collect from and about you when you use our Service and the choices you have associated with that data.  
    By accepting the Privacy Policy in registration or by visiting and using this website, you expressly consent to our collection, use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to our Terms of Service. 
    We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information per this policy. 
    We may modify and update this Privacy Policy at any time without any prior notice to you and will post the revised Privacy Policy on the Platform and your continued access or use of the Service after such time will constitute your acceptance of the revised Privacy Policy. We therefore recommend that you periodically review this page. 
    If you have any questions or comments about this Privacy Policy, please contact us at admin@Reetra .com 
    Where we decide the purpose or means for which personal data you supply through these Services is processed, we are the “controller”. We will comply with all applicable data protection laws, including Privacy and Data Protection Laws in Canada, such as the Personal Information Protection and Electronic Documents Act (PIPEDA). IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT USE THE SERVICES 
    Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service. 
    </p>
</div>
</section>

{% endblock %}